/* body style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* header part style */
.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 30px;
    background-color: #FFFFFF;
}
.header-left {
    width: 50%;
    padding: 10px;
}
.header-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.nav-title {
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
    margin-bottom: 100px;
}
.header-title {
    font-size: 48px;
    font-weight: 700;
    color: #3A3A3A;
}
.header-description {
   font-size: 16px;
   font-weight: 600;
   color: #3A3A3A;
   margin-bottom: 20px;
}
.header img {
    height: 300px;
    width: 340px;
    border-radius: 50%;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}
.header img:hover {
    transform: scale(1.20, 1.20);
}
.header-btn {
    padding: 10px;
    background-color: #E02C6D;
    height: 45px;
    width: 190px;
    border-radius: 20px;
    border: 1px solid #E02C6D;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}
.header-btn a {
    text-decoration: none;
    color: black;
    font-size: 19px;
}
.header-btn i {
    color: black;
    font-size: 19px;
}
.header-btn:hover {
    background-color: #FFFFFF;
    border: 1px solid #E02C6D;
}
/* Header responsive for tablet and mobile */
@media only screen and (max-width:800px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header-left {
        width: 90%;
    }
    .header-right {
        width: 90%;
    }
    .nav-title, .header-title, .header-description {
        text-align: center;
    }
    .header-btn {
        margin: 0 auto;
    }
}
/* header style end with responsive*/
/* main-items section start */
.main-section {
    max-width: 100%;
    padding: 50px 50px 30px 50px;
    background-color: #FFFFFF;
}
.main-title {
    font-weight: 600;
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
}
.main-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.main-item {
    box-shadow: 5px 5px 10px gray;
    display: grid;
    padding: 10px;
    border-radius: 10px;
}
.main-item img {
    width: 100%;
}
.item-title, .item-price {
    font-size: 22px;
    font-weight: 600;
    margin-top: 7px;
}
.item-title {
    cursor: pointer;
}
.item-title:hover {
    text-decoration: underline;
}
}
.item-price {
    font-weight: 400;
}
.item-rating {
    display: flex;
    align-items: center;
}
.rating {
    color: gold;
}
.rating-number {
    margin-left: 20px;
    font-size: 14px;
}
.item-description {
    font-size: 13px;
}
@media only screen and (max-width:600px) {
    .main-items {
        grid-template-columns: 1fr;
    }
    .item-price {
        font-weight: 600;
    }
}
@media only screen and (min-width:601px) and (max-width:800px) {
    .main-items {
        grid-template-columns: 1fr 1fr;
    }
}
/* main items section end with responsive*/

/* see more button start */
.see-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    margin-top: 5px;
    padding: 15px;
}
.see-more a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 0.8s ease-in-out;
    border: 1px solid #E02C6D; 
    /* need */
}
.see-more i {
    margin-left: 10px;
}
.see-more a:hover {
    background-color: #E02C6D;
}
/* see more button ended */
/* bonus section started */
.mega-menu {
    background-color: #0A0826;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.menu-box {
    display: grid;
    width: 33%;
}
.menu-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.mega-menu a {
    text-decoration: none;
    color: white;
}
.mega-menu a:hover {
    color: gray;
}
@media only screen and (max-width:600px) {
    .mega-menu {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-box {
        margin-bottom: 30px;
    }
    .menu-title {
        margin-bottom: 5px;
    }
}
/* bonus section complete with responsive*/
/* footer area started */
.footer {
    background-color: #0A0826;
    max-width: 100%;
    padding: 30px;
}
.footer-title {
    font-size: 30px;
    font-weight: 600;
}
.footer-title, .footer-description{
    color: white;
    text-align: center;
}
.footer-icon {
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 24px;
    cursor: pointer;
}
.footer-icon i {
    margin: 10px;
}
/* footer area ended */